Models/FundsTransfer/FundsRequestFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:grammophone-domos/fundstransfer/requestfile" elementFormDefault="qualified" targetNamespace="urn:grammophone-domos/fundstransfer/requestfile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FundsRequestFile" nillable="true" type="tns:FundsRequestFile" />
	<xs:complexType name="FundsRequestFile">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="CreditSystemCodeName" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="Items" type="tns:ArrayOfFundsRequestFileItem" />
		</xs:sequence>
		<xs:attribute name="BatchID" type="xs:long" use="required" />
		<xs:attribute name="BatchMessageID" type="xs:long" use="required" />
		<xs:attribute name="Time" type="xs:dateTime" use="required" />
	</xs:complexType>
	<xs:complexType name="ArrayOfFundsRequestFileItem">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="FundsRequestFileItem" nillable="true" type="tns:FundsRequestFileItem" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsRequestFileItem">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="BankAccountInfo" type="tns:BankAccountInfo" />
			<xs:element minOccurs="1" maxOccurs="1" name="AccountHolderName" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="AccountHolderToken" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="LineID" type="xs:long" use="required" />
		<xs:attribute name="Amount" type="xs:decimal" use="required" />
	</xs:complexType>
	<xs:complexType name="BankAccountInfo">
		<xs:attribute name="AccountNumber" type="xs:string" />
		<xs:attribute name="BankNumber" type="xs:string" />
		<xs:attribute name="TransitNumber" type="xs:string" />
		<xs:attribute name="AccountCode" type="xs:string" />
	</xs:complexType>
</xs:schema>