Models/FundsTransfer/FundsResponseFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:grammophone-domos/fundstransfer/responsefile" elementFormDefault="qualified" targetNamespace="urn:grammophone-domos/fundstransfer/responsefile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FundsResponseFile" nillable="true" type="tns:FundsResponseFile" />
	<xs:complexType name="FundsResponseFile">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="Type" type="tns:FundsResponseFileType" />
			<xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfFundsResponseFileItem" />
		</xs:sequence>
		<xs:attribute name="Time" type="xs:dateTime" use="required" />
		<xs:attribute name="BatchID" type="xs:long" use="required" />
	</xs:complexType>
	<xs:complexType name="ArrayOfFundsResponseFileItem">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="FundsResponseFileItem" nillable="true" type="tns:FundsResponseFileItem" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsResponseFileItem">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="TraceCode" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:FundsResponseStatus" />
			<xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="LineID" type="xs:long" use="required" />
	</xs:complexType>
	<xs:simpleType name="FundsResponseStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rejected" />
			<xs:enumeration value="Accepted" />
			<xs:enumeration value="Failed" />
			<xs:enumeration value="Succeeded" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FundsResponseFileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rejected" />
			<xs:enumeration value="Accepted" />
			<xs:enumeration value="Responded" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>